.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.login_container>form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #151212;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.login_form>input {
    width: 90%;
    padding: 0.5rem;
    border: 2px solid #636161;
    border-radius: 0.25rem;
    background-color: #0f0f0fc8;
    color: #f6f6f6;
}
.login_form button {
    width: 90%;
    padding: 0.5rem;
    border: 2px solid #636161;
    border-radius: 0.25rem;
    background-color: #0f0f0fc8;
    color: #f6f6f6;
    cursor: pointer;
}