*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,body,#root,#main,main{
  width: 100vw;
  height: 100vh;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

/* dark theme */
  --primary-color: #ffffff;
  --secondary-color: #636161;
  --tertiary-color: #0f0f0f;
  
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #636161;

  --background-color: #000000;
  --background-color-light: #302f2f;
  
  --primary--border-color: #636161;

  color: var(--primary-text-color);
  background-color: var(--background-color);
}

input:active,
button:active {
  outline: rgb(35, 1, 1) auto 1px;
}